<h1>Main Menu </h1>

	<h4>Configuration </h4>
		<ul class="nav">
			<li><%= link_to "Products", lookup_products_path %></li>
			<li><%= link_to "Locations", locations_path %></li>
			<li><%= link_to "Product Location Assignment", product_location_assignments_path %></li>
		</ul>
	<h4>Projections</h4>
		<ul class="nav">
			<li><%= link_to "Projections", lookup_inventory_positions_path %></li>
			<li><%= link_to "Inventory Levels", lookup_inventory_positions_path %></li>
		</ul>
	<h4>Sources</h4>
		<ul class="nav">
			<li><%= link_to "Ship Lines", lookup_ship_lines_path %></li>
			<li><%= link_to "Order Lines", lookup_order_lines_path %></li>
		</ul>
  	<h4>Adjusments</h4>
		<ul class="nav">
			<li><%= link_to "Inventory Advice", inventory_advices_path %></li>
			<li><%= link_to "Receipts", receipts_path %></li>
			<li><%= link_to "Shipment Confirmations", shipment_confirmations_path %></li>
		</ul>
	<br \><br \>
	<%= geo_chart(@map_data) %> 
	<%= link_to "Log Out", login_logout_path, method: :post %>
