<h1>Inventory Dashboard</h1>
<div class="container">
<table class="table" width=25%:>
  <tr><th>Priority</th> <th>Priority Description</th>
  <% InventoryException.priorities.each do |k,v| %>
     <tr><td>Priority  <%=v.to_s %></td><td><%= k %></td></tr>
  <% end %>
</table>
</div>
<script type='text/javascript' src='https://www.google.com/jsapi'></script>
<script type='text/javascript'>
google.load('visualization', '1', {'packages': ['geochart']});
google.setOnLoadCallback(drawMarkersMap);


function drawMarkersMap() {

  var data = new google.visualization.DataTable();
  data.addColumn('number', 'Latitude');
  data.addColumn('number', 'Longitude');
  data.addColumn('string', 'Loc Name');
  data.addColumn('number', 'P1 Exceptions');
  data.addColumn('number', 'P2 Exceptions');
    
  <% @data_array.each do |loc_hash| %>
    data.addRow([ <%= loc_hash["lat"] %>, <%= loc_hash["long"] %>, '<%= j(loc_hash["name"]) %>', <%= loc_hash["p1"] %>, <%= loc_hash["p2"] %>]);  
  <% end %>
 
  var options = {
    displayMode: 'markers',
    magnifyingGlass: {enable: true, zoomFactor: 5.0},
    colorAxis: {colors: ['green','yellow' ,'red']}
  };
  
 
  var chart = new google.visualization.GeoChart(document.getElementById('chart_div'));
  chart.draw(data, options);
};
</script>
   
 <div id="chart_div" style="width: 900px; height: 500px;"></div>

<h3>Inventory Exception Breakdown</h3>
  <table class="table table-striped">
    <tr><th>Location</th><th>Priority 1 Exception Count </th> <th>Priority 2 Exception Count </th><th>Priority 3 Exception Count</th></tr>
    <% @locations.each do |location| %>
      <tr><td><%= link_to(location.name, inventory_exceptions_path(inventory_exception: {location_id: location.id})) %></td>
	  <td><%= location.inventory_exceptions.where(priority: 1).all.count %></td>
          <td><%= location.inventory_exceptions.where(priority: 2).all.count %></td>
          <td><%= location.inventory_exceptions.where(priority: 3).all.count %></td>
      </tr>
    <% end %>
  </table> 

<%= link_to "Main Menu", main_index_path %> 
