
<div id="<%= inventory_exception.id.to_s %>" style="width: 100px; height: 100px;"></div>
<script>

$(function () {

    $('#<%= inventory_exception.id.to_s %>').highcharts({

            chart: {
                type: 'gauge',
                plotBackgroundColor: null,
                plotBackgroundImage: null,
                plotBorderWidth: 0,
                plotShadow: false
            },
            exporting: {
                enabled: false
            },
            title: {
                text: "",
                x: 0,
                y: 0
            },
            pane: {
                startAngle: -120,
                endAngle: 120,
                background: [{
                    backgroundColor: {
                        linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                        stops: [
                            [0, '#FFF'],
                            [1, '#333']
                        ]
                    },
                    borderWidth: 0,
                    outerRadius: '109%'
                }, {
                    backgroundColor: {
                        linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                        stops: [
                            [0, '#333'],
                            [1, '#FFF']
                        ]
                    },
                    borderWidth: 1,
                    outerRadius: '107%'
                }, {
                    // default background
                }, {
                    backgroundColor: '#DDD',
                    borderWidth: 0,
                    outerRadius: '105%',
                    innerRadius: '103%'
                }]
            },
            // the value axis
            yAxis: {
                min: 0,
                max: <%= @max_duration %>,

                minorTickInterval: 'auto',
                minorTickWidth: 1,
                minorTickLength: 1,
                minorTickPosition: 'inside',
                minorTickColor: '#666',

                tickInterval: 100,
                tickWidth: 1,
                tickPosition: 'inside',
                tickLength: 1,
                tickColor: '#666',
                labels: {
                    step: 2,
                    rotation: 'auto'
                },
                title: {
                    text: ''
                },
                plotBands: [{
                    from: 0,
                    to: <%= (@max_duration/3).floor %>,
                    color: '#55BF3B' // green
                }, {
                    from: <%= (@max_duration/3).floor %>,
                    to: <%= 2*(@max_duration/3).floor %>,
                    color: '#DDDF0D' // yellow
                }, {
                    from: <%= 2*(@max_duration/3).floor %>,
                    to: <%= @max_duration %>,
                    color: '#DF5353' // red
                }]
            },

            series: [{
                name: 'Duration',
                data: [<%= inventory_exception.duration %>],
                tooltip: {
                    valueSuffix: ' days'
                }
            }]

        }
    );
});


</script>
