<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawThermometer);

      function drawThermometer() {
        var data = new google.visualization.arrayToDataTable([
          ['Exception Id', 'Days To Impact', {role: 'style'}, {role: 'annotation'}],
          ['', <%= inventory_exception.days_to_impact%>, '<%= @exception_colors[inventory_exception.id] %>',  <%= inventory_exception.days_to_impact%>]
        ]);
   
        var options = {
          annotations: {
            textStyle: {
              fontSize: 18
            }
          },
          hAxis: {minValue: <%= @min_days_to_impact%>, maxValue: <%= @max_days_to_impact %>, gridlines: {count: 0}},
          legend: { position: "none" },
          vAxis: {format:''}
        }; 
 
        var chart = new google.visualization.BarChart(document.getElementById('thermometer_<%= inventory_exception.id.to_s %>'));
        chart.draw(data, options); 
        
      }
    </script>
    <div id='thermometer_<%= inventory_exception.id.to_s%>' style="height: 100px; width: 100px"></div> 
