<div class="control-group">
  <%= form.label  "Product",  class: "control-label" %>
  <div class="controls">
    <%= form.select :product_id, @products.collect {|product| [product.name, product.id] } %>
  </div>
</div>
<div class="control-group">
  <%= form.label "Location",  class: "control-label" %>
  <div class="controls">
    <%= form.select :location_id, @locations.collect {|location| [location.name, location.id] } %> 
  </div>
</div>
<div class="control-group">
  <%= form.label "Minimum Quantity",  class: "control-label" %>
  <div class="controls">
     <%= form.text_field :minimum_quantity %> 	
  </div>
</div>
<div class="control-group">
  <%= form.label "Maximum Quantity",  class: "control-label" %>
  <div class="controls">
    <%= form.text_field :maximum_quantity %>
  </div>
</div>

