<h1>Create Product Location Assignment</h1>
	
	<%= render partial: "product_location_assignment_errors" %>
	
	<%= form_for @product_location_assignment do |form| %>
		<%= render partial: "product_location_assignment", locals: {form: form} %>
		<%= submit_tag "Create" %>
	<% end %>
	<br /><br />
	<%= link_to "Product Location Assignments", product_location_assignments_path %>
