<% content_for :head do %>
  <%= stylesheet_link_tag "fixtableheader" %>
<% end %>

<table id="myTable" class="table table-fixedheader">
<thead>
  <tr>
    <th width="10%">Date</th>
    <th width="10%">On Hand Quantity</th>
    <th width="15%">On Order Quantity</th>
    <th width="15%">In Transit Quantity</th>
    <th width="15%">Allocated Quantity</th>
    <th width="20%">Planned Consumption Quantity</th>
    <th width="15%">Available Quantity</th>
  </tr>
</thead>
<tbody style="height:450px">
<% @projections.each do |projection| %>
  <% if projection.available_quantity < 0 %>
    <tr class="danger" >
  <% elsif projection.available_quantity < @product_location_assignment.minimum_quantity %>
    <tr class="warning">
  <% else %>
    <tr>
  <% end %>
    <td width="10%"><%= link_to(projection.projected_for.to_formatted_s(:short), inventory_position_inventory_projection_path(@inventory_position, projection)) %></td>
    <td width="10%"><%= projection.on_hand_quantity %></td>
    <td width="15%"><%= projection.on_order_quantity %></td>
    <td width="15%"><%= projection.in_transit_quantity %></td>
    <td width="15%"><%= projection.allocated_quantity %></td>
    <td width="20%"><%= projection.forecasted_quantity %></td>
    <td width="15%"><%= projection.available_quantity %></td>
  </tr>
<% end %>
</tbody>
</table>

