<div class="control-group">
  <%= form.label "Source", class: "control-label" %>
  <div class="controls">		
    <%= form.text_field :source	%>
  </div>
</div>
<div class="control-group">
  <%= form.label "Reference Number", class: "control-label" %>
  <div class="controls">
    <%= form.text_field :object_reference_number %>
  </div>
</div>
<div class="control-group">
  <%= form.label "Product", class: "control-label" %>
  <div class="controls">
    <%= form.select :product_id, @products.collect {|product| [product.name, product.id]} %>
  </div>
</div>
<div class="control-group">
  <%= form.label "Location" , class: "control-label" %>
  <div class="controls">	
    <%= form.select :location_id, @locations.collect {|location| [location.name, location.id]} %>
  </div>
</div>
<div class="control-group">
  <%= form.label "Quantity", class: "control-label" %>
  <div class="controls">
    <%= form.text_field :adjustment_quantity %>
  </div>
</div>
