<h1>Inventory Advice </h1>

<% if @inventory_advice.empty? %>
  <p>No inventory advice created </p>
<% else %>
   <table>
     <tr><th>Reference Number</th> <th>Adjustment Date </th> <th>Product</th> <th>Location</th> <th>Adjustment Type</th> <th>Quantity</th></tr>
     <% @inventory_advice.each do |advice| %>
       <tr><td><%= advice.object_reference_number %> </td> <td><%= advice.adjustment_date.to_s %></td> <td><%= advice.product.name %></td> <td><%= advice.location.name %></td> <td><%= advice.adjustment_type %></td> <td><%= advice.adjustment_quantity.to_s %></td></tr>
     <% end %>
   </table>
<% end %>
<br /> <br />
<%= link_to "Main Menu", main_index_path %> | <%= link_to "Create New Inventory Advice", new_inventory_advice_path %>
