<table class="table table-striped">
  <tr><th>Date</th><th>On Hand </th> <th>On Order </th><th>In Transit</th> <th>Allocated </th> <th>Planned Consumption</th><th>Available</th></tr>
  <% @data.each do |daily_entry| %>
    <tr>        
      <td><%= link_to(daily_entry[0], grouped_projections_path(projection_search: @clean_search_hash.merge({"projected_for" => daily_entry[0]}))) %></td>
      <td><%= daily_entry[2].to_s %></td>
      <td><%= daily_entry[4].to_s %></td>
      <td><%= daily_entry[5].to_s %></td>
      <td><%= daily_entry[6].to_s %></td>
      <td><%= daily_entry[7].to_s %></td>
      <td><%= daily_entry[3].to_s %></td>
    </tr>
  <% end %>
</table>

