<h1>Location Centric</h1>
 <p>Please select a Location to see projections (product and date ranges are optional).</p>
  <%= form_for :group_search, url: location_centric_path, html: {class: "form-inline"}  do |form| %>
	<p>
        <%= form.label "Location" %> <%= form.select :location_id, @locations.collect {|location| [location.name, location.id]} %>
        <%= render partial: "shared/product_autocomplete", locals: {form: form} %> 
	<%= form.label "Product Category" %> <%= form.text_field :product_category	%>
	</p>
	<p>
        <%= form.label "Begin Projection Date" %>
        <%= form.text_field :begin_date, value: @begin_date.strftime("%Y-%m-%d") %>
        <script>
          $( "#group_search_begin_date" ).datepicker({minDate: 0, maxDate: "<%=@organization.days_to_project%>D", dateFormat: "yy-mm-dd"});
        </script>
        
        <%= form.label "End Projection Date" %>
        <%= form.text_field :end_date, value: @end_date.strftime("%Y-%m-%d")  %>
        <script>
          $( "#group_search_end_date" ).datepicker({minDate: 0, maxDate: "<%=@organization.days_to_project%>D", dateFormat: "yy-mm-dd"});
        </script>
	</p>
        <%= submit_tag "Lookup Projections", class: "btn btn-primary" %>
  <% end %>
  <br \><br \>
  <hr>
  <% if request.post? %>
    <% if @inventory_positions.count == 0 %>
       <p>There are no Inventory Positon records for the product and location chosen.</p>
    <% else %>
       <h4>Inventory Projections for <%= @search_criteria_to_string %></h4>
       <%= column_chart(@data, library: {
                                        curveType: 'function',
                                        title: "Inventory Projections",
                                        legend:
                                                {position: "bottom"},
                                        series:
                                                {
                                                0 => {type: "line", pointSize: 0, color: "#336699" },
                                                1 => {targetAxisIndex: 1, color: "#FF6600" },
                                                2 => {targetAxisIndex: 1, color: "#666633" },
                                                3 => {targetAxisIndex: 1, color: "#FFCC00" },
                                                4 => {targetAxisIndex: 1, color: "#26ba26" },
                                                5 => {type: "line", pointSize: 0, color: "#E96D63"}
                                                },
                                        vAxes: [{0 => {textStyle:{color: 'red'}}},{1 => {textStyle:{color: 'blue'}}}]})    %>
         <br \> <br \><br \>
        <h4>Detailed Inventory Projection Data</h4>
        <table class="table table-striped">
          <tr><th>Date</th><th>On Hand </th> <th>On Order </th><th>In Transit</th> <th>Allocated </th> <th>Planned Consumption</th><th>Available</th></tr>
         <% @inventory_hash.each do |k,v| %>
            <tr>        <td><%= link_to(k,  grouped_projections_path(projection_search: @clean_search_hash.merge({"projected_for" => k}))) %></td>
                <td><%= v["on_hand_quantity"].to_s %></td>
                <td><%= v["on_order_quantity"].to_s %></td>
                <td><%= v["in_transit_quantity"].to_s %></td>
                <td><%= v["allocated_quantity"].to_s %></td>
                <td><%= v["forecasted_quantity"].to_s %></td>
                <td><%= v["available_quantity"].to_s %></td>
          </tr>
          <% end %>
        </table>
    <% end %>
  <% end %>
  <br \> <br \><br \>
  <%= link_to "Main Menu", main_index_path %>
  <br \> <br \><br \>

