<div class-"container">
  <h1>Product Centric View</h1>
  <p>Please enter a product category or select a unique Product (location and date ranges are optional).</p>
  <div class="container-fluid">
  <%= form_for :group_search, url: product_centric_path, html: {class: "form-horizontal"}  do |form| %>
    <div class="form-group">
    
      <%= render partial: "shared/product_autocomplete", locals: {form: form} %>
    
      <%= form.label "Product Category" , {class: "col-sm-2 control-label"}%> 
      <div class="col-sm-2">
        <%= form.text_field :product_category, value: @product_category, class: "form-control"	%>
      </div>

      <%= form.label "Location Group", {class: "col-sm-2 control-label"}  %>
      <div class="col-sm-2">  
        <%= form.select :location_group_id, @location_groups.collect {|loc_group| [loc_group.name, loc_group.id]}, {include_blank: true}, {class: "form-control"}  %>
        <% if @location_group %>
          <script type="text/javascript"> 
            $("#group_search_location_group_id").val('<%= @location_group.id.to_s %>');
          </script>
        <% end %>
      </div>
    </div>

    <div class="form-group">

      <%= form.label "Location", {class: "col-sm-1 control-label"} %>
      <div class="col-sm-2"> 
        <%= form.select :location_id, @locations.collect {|location| [location.name, location.id]}, {include_blank: true}, {class: "form-control"} %>
        <% if @location %>
          <script>
            $("#group_search_location_id").val('<%= @location.id.to_s %>');
          </script>
        <% end %> 
      </div>

      <%= form.label "Begin Projection Date", {class: "col-sm-2 control-label"} %>
      <div class="col-sm-2">
        <%= form.text_field :begin_date, value: @begin_date.strftime("%Y-%m-%d"), class: "form-control" %>
        <script>
          $( "#group_search_begin_date" ).datepicker({minDate: 0, maxDate: "<%=@organization.days_to_project%>D", dateFormat: "yy-mm-dd"});
        </script>
      </div>

      <%= form.label "End Projection Date", {class: "col-sm-2 control-label"} %>
      <div class="col-sm-2">
        <%= form.text_field :end_date, value: @end_date.strftime("%Y-%m-%d"), class: "form-control"  %>
        <script>
          $( "#group_search_end_date" ).datepicker({minDate: 0, maxDate: "<%=@organization.days_to_project%>D", dateFormat: "yy-mm-dd"});
        </script>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-2">
        <%= submit_tag "Lookup Projections", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
  </div>
  <br \><br \>
  <hr>
  <% if request.post? %>
    <% if @inventory_positions.class == String %>
	<p><%= @inventory_positions %></p>
    <% elsif @inventory_positions.count == 0 %>
       <p>There are no Inventory Positon records for the product and location chosen.</p>
    <% else %>
    <div class="container">
      <h4>Inventory Projection for <%= @search_criteria_to_string %></h4>
      <div class="row" style="height: 600px">
        <button type="button" id="go">Switch View Format</button>
        <div class="flip-container" style="width: 98%">
          <div class="page1" style="width: 100%">
            <%= render partial: "shared/highchart_grouped" %>  
          </div>
          <div class="page2" style="width: 100%">
            <%= render partial: "projection_table" %>
          </div>
        </div>
      </div>
      <script type="text/javascript">
      $('#go').click(function() {
        var page1 = $('.page1');
        var page2 = $('.page2');
        var toHide = page1.is(':visible') ? page1 : page2;
        var toShow = page2.is(':visible') ? page1 : page2;

         toHide.removeClass('flip in').addClass('flip out').hide();
         toShow.removeClass('flip out').addClass('flip in').show();
      });
      </script>
    </div>
    <% end %>
  <% end %>
</div>

