<h1> Ship Lines </h1>

<%= form_for :ship_line, url: lookup_ship_lines_path, html: {class: "form-search"}   do |form| %>
        <%= form.hidden_field :organization_id, value: @user.organization_id %>
        <%= form.label "Reference Number",  class: "form-inline"%>
        <%= form.text_field :object_reference_number    %>
        <%= form.label "Product Name", class: "form-inline"%>  
	<%= form.select :product_id, @products.collect {|prod| [prod.name,  prod.id]}, {include_blank: true}, class: "form-inline" %>
        <%= form.label "Origin Location", class: "form-inline" %>
	<%= form.select :origin_location_id, @locations.collect {|loc| [loc.name, loc.id]}, {include_blank: true}, class: "form-inline" %>
        <%= form.label "Destination Location" , class: "form-inline" %>
	<%= form.select :destination_location_id,  @locations.collect {|loc| [loc.name, loc.id]}, {include_blank: true}, class: "form-inline" %>
        <%= submit_tag "Search", {class: "btn btn-primary"} %>
<% end %>
<br \>
<hr>
<br \>

<% if request.post? %>
  <% if @ship_lines.empty? %>
    <p> No Ship Lines have been created</p>
  <% else %>
    <table class="table table-striped">
      <tr><th>Shipment Reference </th> <th>ETA</th> <th>ETD</th> <th>Product</th><th>Quantity</th> <th>Origin Location </th> <th>Destination Location</th></tr>
      <% @ship_lines.each do |ship_line| %>
        <tr><td><%= ship_line.object_reference_number    %></td>
            <td><%= ship_line.eta.to_s                   %></td>
            <td><%= ship_line.etd.to_s                   %></td>
            <td><%= ship_line.product.name               %></td>
            <td><%= ship_line.quantity                   %></td>
            <td><%= ship_line.origin_location.nil? ? "" : ship_line.origin_location.name       %></td>
            <td><%= ship_line.destination_location.nil? ? "" :  ship_line.destination_location.name  %></td>
	    <td><%= link_to "Details", ship_line_path(ship_line)	%></td>
	    <td><%= link_to "Edit", edit_ship_line_path(ship_line) %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
<% end %>
<br \> <br\>
<%= link_to "Add New Ship Line", new_ship_line_path %>
<br \> <br\>
<%= link_to "Main Menu", main_index_path            %>                   

