<h1>Ship Line Details</h1>
<dl class="dl-horizontal">
                <dt>Source              	</dt>   <dd><%= @ship_line.source                   	%></dd>
                <dt>Reference Number    	</dt>   <dd><%= @ship_line.object_reference_number  	%></dd>
                <dt>ETA    			</dt>   <dd><%= @ship_line.eta.to_s			%></dd>
                <dt>ETD	 			</dt>   <dd><%= @ship_line.etd.to_s			%></dd>
                <dt>Product             	</dt>   <dd><%= @ship_line.product.name             	%></dd>
                <dt>Origin Location     	</dt>   <dd><%= @ship_line.origin_location.nil? ? "" : @ship_line.origin_location.name        	%></dd>
		<dt>Destination Location	</dt>	<dd><%= @ship_line.destination_location.nil? ? "" : @ship_line.destination_location.name	%></dd>	
                <dt>Original Quantity		</dt>	<dd><%= @ship_line.original_quantity.to_s	%></dd>
		<dt>Remaining Quantity		</dt>	<dd><%= @ship_line.quantity.to_s		%></dd>
                <dt>Order Line                  </dt>   <dd><%= @ship_line.parent_movement_source ? link_to(@ship_line.parent_movement_source.object_reference_number, order_line_path(@ship_line.parent_movement_source)) : "" %>              </dd>
        </dl>

<br /><br />

<h4>Associated Inventory Adjustments</h4>
        <% if @ship_line.inventory_adjustments.empty? %>
                <p>No Receipts or Shipment Confirmations associated to this Order Line </p>
        <% else %>
                <table class="table table-striped">
                        <tr><th>Adjustment Type</th> <th>Reference Number</th>   <th>Product</th> <th>Location</th> <th>Quantity</th></tr>
                        <% @ship_line.inventory_adjustments.each do |inventory_adjustment| %>
                                <tr>
                                        <td><%= inventory_adjustment.class.to_s                 %></td>
                                        <td><%= inventory_adjustment.object_reference_number    %></td>
                                        <td><%= inventory_adjustment.product.name               %></td>
                                        <td><%= inventory_adjustment.location.name              %></td>
                                        <td><%= inventory_adjustment.adjustment_quantity.to_s   %></td>
                                        <td><%= link_to "Details", polymorphic_path(inventory_adjustment)       %></td>
                        <% end %>
                </table>
        <% end %>
<br /><br />
<%= link_to "Edit Ship Line", edit_ship_line_path(@ship_line) %> 
<br /><br />
<%= link_to "Return to Ship Lines", lookup_ship_lines_path %>
<br /><br />


