<h1>Inventory Positions</h1>
 <p>Please select a Product and Location to see projections.</p>
 <div class="container-fluid">  
 <%= form_for :inventory_position_search, url: lookup_inventory_positions_path, html: {class: "form-horizontal", role: "form"}  do |form| %>
    <div class="form-group">  

        <%= form.label "Location", {class: "col-sm-1 control-label"} %> 
        <div class="col-sm-2">
          <%= form.select :location_id, @locations.collect {|location| [location.name, location.id]}, {}, {class: "form-control"} %>
          <% if @location %>
            <script>
              $("#inventory_position_search_location_id").val('<%= @location.id.to_s %>');	
            </script>
          <% end %>
        </div>
   
        <%= render partial: "shared/product_autocomplete", locals: {form: form} %>
   
	<%= form.label "Begin Date", {class: "col-sm-1 control-label"} %>
        <div class="col-sm-2">
          <%= form.text_field :begin_date, value: @begin_date.strftime("%Y-%m-%d"),  class: "form-control" %>
          <script>
          $( "#inventory_position_search_begin_date" ).datepicker({minDate: 0, maxDate: "<%= @organization.days_to_project %>D", dateFormat: "yy-mm-dd"});
        </script>
        </div>
  
        <%= form.label "End Date", {class: "col-sm-1 control-label"} %>
        <div class="col-sm-2">
          <%= form.text_field :end_date, value: @end_date.strftime("%Y-%m-%d"),  class: "form-control"  %>
          <script>
            $( "#inventory_position_search_end_date" ).datepicker({minDate: 0, maxDate: "<%= @organization.days_to_project %>D", dateFormat: "yy-mm-dd"});
          </script>
        </div>
    </div>
    <div class="form-group"> 
      <div class="col-sm-1">
      </div>
      <div class="col-sm-1">      
        <%= submit_tag "Lookup Projections", class: "btn btn-primary" %> 
      </div>
    </div>
  <% end %>
  </div>
  <br \><br \>
  <hr>
  <% if request.post? %>
    <% if @inventory_position.nil? %>
       <p>There are no Inventory Positon records for the product and location chosen.</p>	
    <% else %>
      <%= render partial: "shared/highchart" %>
      <br \> <br \><br \>
      <h4>Detailed Inventory Projection Data</h4>
      <table class="table table-striped">
        <tr><th>Date</th><th>On Hand </th> <th>On Order </th><th>In Transit</th> <th>Allocated </th> <th>Planned Consumption</th><th>Available</th></tr>
 	<% @projections.each do |inventory_projection| %>
          <tr>	<td><%= link_to(inventory_projection.projected_for.to_formatted_s(:short), [@inventory_position,inventory_projection]) %></td>
 		<td><%= inventory_projection.on_hand_quantity.to_s %></td>
 		<td><%= inventory_projection.on_order_quantity.to_s %></td>
 		<td><%= inventory_projection.in_transit_quantity.to_s %></td>
 		<td><%= inventory_projection.allocated_quantity.to_s %></td>
 		<td><%= inventory_projection.forecasted_quantity.to_s %></td>
 		<td><%= inventory_projection.available_quantity.to_s %></td>
 	  </tr>  
        <% end %>	 
      </table>
    <% end %>
  <% end %>
<br \> <br \><br \>
<%= link_to "Main Menu", main_index_path %>
<br \> <br \><br \>

