<h1>Inventory Positions</h1>
 <p>Please select a Product and Locaiton to see projections.</p>
  <%= form_for :inventory_position_search, url: lookup_inventory_positions_path, html: {class: "form-inline"}  do |form| %>
	<%= form.label "Product" %> <%= form.select :product_id, @products.collect {|product| [product.name, product.id]} %>
        <%= form.label "Location" %> <%= form.select :location_id, @locations.collect {|location| [location.name, location.id]} %>
	<%= form.label "Begin Projection Date" %><%= form.date_select :begin_date, {start_year: Date.today.year, include_blank: true}, class: "form-inline" %> 
        <%= form.label "End Projection Date" %><%= form.date_select :end_date, {start_year: Date.today.year, include_blank: true}, class: "form-inline" %>
        <%= submit_tag "Lookup Projections", class: "btn btn-primary" %> 
  <% end %>
  <br \><br \>
  <hr>
  <% if request.post? %>
    <% if @inventory_position.nil? %>
       <p>There are no Inventory Positon records for the product and location chosen.</p>	
    <% else %>
       <%= column_chart(@data, library: {
					title: "Inventory Projections for SKU " + @inventory_position.product.name + " at location " + @inventory_position.location.name,
					legend:
						{position: "bottom"},
					series: 
						{0 => {type: "line"},
						1 => {targetAxisIndex: 1 },
						2 => {targetAxisIndex: 1 }, 
						3 => {targetAxisIndex: 1 },
						4 => {type: "line"},
						5 => {targetAxisIndex: 1 }
						}, 
					vAxes: [{0 => {textStyle:{color: 'red'}}},{1 => {textStyle:{color: 'blue'}}}]})    %>	
	 <br \> <br \><br \>
	<h4>Detailed Inventory Projection Data</h4>
	<table class="table table-striped">
          <tr><th>Date</th><th>On Hand Quantity</th> <th>On Order Quantity</th><th>In Transit</th> <th>Allocated Quantity</th> <th>Forecasted Quantity</th><th>Available Quantity</th></tr>
 	 <% @projections.each do |inventory_projection| %>
            <tr>	<td><%= link_to(inventory_projection.projected_for.to_s, [@inventory_position,inventory_projection]) %></td>
 		<td><%= inventory_projection.on_hand_quantity.to_s %></td>
 		<td><%= inventory_projection.on_order_quantity.to_s %></td>
 		<td><%= inventory_projection.in_transit_quantity.to_s %></td>
 		<td><%= inventory_projection.allocated_quantity.to_s %></td>
 		<td><%= inventory_projection.forecasted_quantity.to_s %></td>
 		<td><%= inventory_projection.available_quantity.to_s %></td>
 	  </tr>  
          <% end %>	 
        </table>
    <% end %>
  <% end %>
  <br \> <br \><br \>
  <%= link_to "Main Menu", main_index_path %>
  <br \> <br \><br \>

