<div class="control-group">
  <%= form.label "Order Line Reference Number", class: "control-label" %>
  <div class="controls">
    <%= form.text_field :object_reference_number        %>
  </div>
</div>
<div class="control-group">
  <%= form.label "ETD", class: "control-label" %>
  <div class="controls">
    <%= form.date_select :etd, {start_year: Date.today.year}                            %>
  </div>
</div>
<div class="control-group">
 <%=  form.label "ETA", class: "control-label" %>
 <div class="controls">
   <%= form.date_select :eta, {start_year: Date.today.year}                            %>
  </div>
</div>
<div class="control-group">
  <%= form.label "Product", class: "control-label" %>
  <div class="controls">
    <%= form.select :product_id, @products.collect {|product| [product.name, product.id]} %>
  </div>
</div>
<div class="control-group">
  <%= form.label "Origin Location", class: "control-label" %>
  <div class="controls">
    <%= form.select :origin_location_id, @locations.collect {|loc| [loc.name, loc.id]}, {include_blank: true} %>
  </div>
</div>
<div class="control-group">
  <%= form.label "Destination Location", class: "control-label" %>
  <div class="controls">
  <%= form.select :destination_location_id, @locations.collect {|loc| [loc.name, loc.id]}, {include_blank: true} %>
 </div>
</div>
<div class="control-group">
  <%= form.label "Quantity", class: "control-label" %>
  <div class="controls">
     <%= form.text_field :quantity                       %>
  </div>
</div>

