<h1> Order Lines</h1>

<div class="container-fluid">
<%= form_for :order_line, url: lookup_order_lines_path, html: {class: "form-horizontal"}   do |form| %>
  <div class="form-group">
    <%= form.hidden_field :organization_id, value: @user.organization_id %>
    <%= render partial: "shared/reference_number_autocomplete", locals: {form: form, movement_sources: @all_order_lines, source_type: "order_line"} %>
    <%= render partial: "shared/product_autocomplete", locals: {form: form} %>
    <%= form.label "Origin Location", class: "col-sm-1 control-label" %>
    <div class="col-sm-2">
      <%= form.select :origin_location_id, @locations.collect {|loc| [loc.name, loc.id]}, {include_blank: true},{class: "form-control"} %>
    </div>
    <%= form.label "Destination Location" , class: "col-sm-1 control-label" %>
    <div class="col-sm-2">
      <%= form.select :destination_location_id,  @locations.collect {|loc| [loc.name, loc.id]}, {include_blank: true}, {class: "form-control"} %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-1"></div> 
    <div class="col-sm-2">
      <%= submit_tag "Search", {class: "btn btn-primary"} %>
    </div>
  </div>
<% end %>
</div>
<br \>
<hr>
<br \>
<% if request.post? %>

  <% if @order_lines.empty? %>
    <p>No Order Lines have been created yet.</p>
  <% else %>
    <table class="table table-striped">
      <tr><th>Order Line Reference Number </th> <th>ETD</th> <th>ETA</th> <th>Product</th> <th>Origin Location </th> <th>Destination Location</th> <th>Quantity</th></tr>
        <% @order_lines.each do |order_line| %>
          <tr><td><%= order_line.object_reference_number %></td>
              <td><%= order_line.etd.to_s %></td>
              <td><%= order_line.eta.to_s %></td>
              <td><%= order_line.product.name %></td>
              <td><%= order_line.origin_location.try(:name) %></td>
              <td><%= order_line.destination_location.try(:name) %></td>
              <td><%= order_line.quantity.to_s        %></td>
              <td><%= link_to "Details", order_line_path(order_line)  %></td>
              <td><%= link_to "Edit", edit_order_line_path(order_line) %></td>
              </tr>
        <% end %>
    </table %>
  <% end %>
<% end %>
<br /> <br />
<%= link_to "Create New Order Line", new_order_line_path %>
<br /> <br />
<%= link_to "Main Menu", main_index_path %>

