<div class="control-group">
  <%= form.label "Product Name", class: "control-label"  %> 
  <div class="controls">
    <%= form.text_field :name  %>
  </div>
</div>
<div class="control-group">
  <%= form.label "Product Code", class: "control-label"  %> 
  <div class="controls">
    <%= form.text_field :code  %>
  </div>
</div>
<div class="control-group">
  <%= form.label "Product Category", class: "control-label"  %>
  <div class="controls">
    <%= form.text_field :product_category	%>
  </div>
</div> 
