<h1>Edit Product </h1>

        <% if @product.errors.any? %>
                <div id="error_explanation">
                <h2>There are <%= @product.errors.count.to_s %> error(s) with this product :</h2>

                <ul>
                        <% @product.errors.each do |key,value| %>
                                <li><%= key.to_s.capitalize + " " + value %></li>
                        <% end %>
                </ul>
                </div>
        <% end %>

	<%= form_for @product do |form| %>
		<%= render partial: "product", locals: {form: form} %>
		<%= submit_tag "Update" %>
	<% end %>
	<br /> <br />
	<%= link_to "Products", lookup_products_path %>
