<h1>Edit Product </h1>

        <%= render partial: "product_errors" %>

	<%= form_for @product do |form| %>
		<%= render partial: "product", locals: {form: form} %>
		<%= submit_tag "Update" %>
	<% end %>
	<br /> <br />
	<%= link_to "Products", lookup_products_path %>
