<h1>Edit Product </h1>

        <%= render partial: "product_errors" %>

	<%= form_for @product, html: {class: "form-horizontal"} do |form| %>
		<%= render partial: "product", locals: {form: form} %>
		<%= submit_tag "Update", {class: "btn btn-primary"} %>
	<% end %>
	<br /> <br />
	<%= link_to "Products", lookup_products_path %>
