<h1>Create New Product </h1>

	<%= form_for @product do |form|	%>
		<%= form.hidden_field :organization_id, value: @user.organization_id	%>
		<%= render partial: "product", locals: {form: form} 			%>
		<%= submit_tag "Create Product" %>
	<% end %> 
	<br /><br />
	<%= link_to "Products", lookup_products_path %>
