<div class="control-group">
  <%= form.label "Location Name", class: "control-label" %>
  <div class="controls">
    <%= form.text_field :name 			%>
  </div>
</div>
<div class="control-group">
  <%= form.label "Location Code", class: "control-label" %>
  <div class="controls">
    <%= form.text_field :code			%>
  </div>
</div>
<div class="control-group">
  <%= form.label "Address", class: "control-label" %>		
  <div class="controls">
    <%= form.text_field :address_1		%>
  </div>
</div>
<div class="control-group">
  <%= form.label "Adddres 2", class: "control-label" %>	
  <div class="controls">
    <%= form.text_field :address_2		%>
  </div>
</div>
<div class="control-group">
  <%= form.label "City",  class: "control-label" %>		
  <div class="controls">
    <%= form.text_field :city			%>
  </div>
</div>
<div class="control-group">
  <%= form.label "State/Prov", class: "control-label" %>
  <div class="controls">
     <%= form.text_field	:state_providence	%>
  </div>
</div>
<div class="control-group">
  <%= form.label "Postal Code" ,  class: "control-label" %>
  <div class="controls">
    <%= form.text_field :postal_code		%>
  </div>
</div>
<div class="control-group">
  <%= form.label "Country",  class: "control-label" %>
  <div class="controls">
    <%= form.text_field :country		%> 
  </div>
</div>
