<table>
	<tr><th>Location Name	</th>	<td><%= form.text_field :name 			%></td></tr>
	<tr><th>Location Code	</th>	<td><%= form.text_field :code			%></td></tr>
	<tr><th>Address		</th>	<td><%= form.text_field :address_1		%></td></tr>
	<tr><th>Adddres 2	</th>	<td><%= form.text_field :address_2		%></td></tr>
	<tr><th>City		</th>	<td><%= form.text_field :city			%></td></tr>
	<tr><th>State/Prov	</th>	<td><%= form.text_field	:state_providence	%></td></tr>
	<tr><th>Postal Code	</th>	<td><%= form.text_field :postal_code		%></td></tr>
	<tr><th>Country		</th>	<td><%= form.text_field :country		%></td></tr>
</table> 
