<h1>Location</h1>
	<% if @locations.empty? %>
		<p>No locations have been created for this Org.</p>
	<% else %>
		<table class="table table-striped">
		<tr><th>Location Name </th><th>Location Code</th> <th>Location Group </th> <th>Address</th> <th>City</th> <th>State/Prov</th><th>Country</th></tr>
		<% @locations.each do |location| %>
			<tr>	<td><%= location.name 	%></td>
				<td><%= location.code	%></td>
  				<td><%= location.location_group ? location.location_group.name : nil %></td>
				<td><%= location.address_1	%></td>
				<td><%= location.city	%></td>
				<td><%= location.state_providence	%></td>
				<td><%= location.country	%></td>
				<td><%= link_to "View", location_path(location) %></td>
				<td><%= link_to "Edit", edit_location_path(location) %></td>
			</tr>
		<% end %>
		</table>
	<% end %>
	<%= link_to "Main Menu", main_index_path %> || <%= link_to "Create New Location", new_location_path %>

