<h1>Create New Location</h1>
	<%= render partial: "location_errors" %>
	<%= form_for @location do |form| %>
		<%= form.hidden_field :organization_id, value: @user.organization.id %>
		<%= render partial: "location", locals: {form: form} %>
		<%= submit_tag "Create" %>
	<% end %>
<%= link_to "View Locations", locations_path %>
